    <!-- Community Section -->
    <section id="community" class="content-section text-center">
        <div class="community-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Community</h2>
                    
                    Community responses to the prompt "What does the Anacostia River mean to you?".
                    
                    Collected at the Ward 8 Farmer's Market.
                        
                    <div id="communitygallery"></div>

                </div>
            </div>
        </div>
    </section>
