    <!-- Community Section -->
    <section id="community" class="content-section text-center">
        <div class="community-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Community</h2>
                        
                    <div id="communitygallery">
                      <a href="{{ "img/community/c1.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c1_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c2.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c2_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c3.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c3_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c4.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c4_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c5.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c5_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c6.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c6_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c7.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c7_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c8.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c8_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c9.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c9_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c10.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c10_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c11.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c11_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                      <a href="{{ "img/community/c12.jpg" | prepend: site.baseurl }}">
                          <img src="{{ "img/community/c12_tn.jpg" | prepend: site.baseurl }}" />
                      </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
