    <!-- Community Section -->
    <section id="community" class="content-section text-center">
        <div class="community-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Community</h2>
                    
                    <p>Community responses to the prompt:</p> 
                    <br>
                    "What does the Anacostia River mean to you?"
                    <br>
                    <p>Collected at the Ward 8 Farmer's Market.</p>
                    <br>
                    <br>
                        
                    <div id="communitygallery"></div>

                </div>
            </div>
        </div>
    </section>
