 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> 

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>
    
     <!-- Custom Swiper Scripts -->
     <script src="{{ "/js/swiper.min.js" | prepend: site.baseurl }}"></script>
     <script src="{{ "/js/swiper.jquery.min.js" | prepend: site.baseurl }}"></script>

    <!-- Initialize Swiper -->
    <script>
    var temp = "<div class=\"swiper-slide\" style=\"background-image:url(https://beckyharlan.github.io/img/{image});\"></div>";
    var img = [
        "Harlan_TMN_01.jpg",
        "Harlan_TMN_02.jpg",
        "Harlan_TMN_03.jpg",
        "Harlan_TMN_04.jpg",
        "Harlan_TMN_05.jpg",
        "Harlan_TMN_06.jpg",
        "Harlan_TMN_12.jpg",
        "Harlan_TMN_13.jpg",
        "Harlan_TMN_14.jpg",
        "Harlan_TMN_15.jpg",
        "Harlan_TMN_16.jpg",
        "Harlan_TMN_17.jpg",
        "Harlan_TMN_18.jpg"
    ];

    for (var i = 0; i < img.length; ++i) {
        html = temp.replace("{image}", img[i]);
        $("#photo-gallery").append(html);
    }
    
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true
    });
    </script>
