    <!-- Postcards Section -->
    <section id="postcards" class="content-section text-center">
        <div class="postcards-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Postcards</h2>
                        <!-- Swiper -->
                        <div class="swiper-container">
                            <div id="photo-gallery" class="swiper-wrapper"></div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
