    <!-- Seafarers Section -->
    <section id="seafarers" class="content-section text-center">
        <div class="photos-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Seafarers</h2>
                        
                    <p>Photos from Seafarers Yacht Club, one of the oldest Black boating organizations in the country.</p>
                    <br>
                    <br>
                    
                    <div id="seafarersgallery"></div>

                </div>
            </div>
        </div>
        <br />
        <br />
        <h4 style = "margin-bottom: 0px">Seafarers Audio Story</h4>
        <br />
        <br />
        <audio controls>
          <source src="https://beckyharlan.github.io/audio/seafarers.mp3" type="audio/mp3">
          <source src="https://beckyharlan.github.io/audio/seafarers.ogg" type="audio/ogg">
          Your browser does not support the audio element.
        </audio>
    </section>
